<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for photo in photos %}
            {% if photo.isphoto %}
                <div class="swiper-slide">
                    <img class='swiper_image' src="{{photo.url}}">
                    <div class="swiper-title">
                      <a style="color: white !important" href="/photos/{{photo.slug}}">{{photo.title}}</a>
                    </div>
                </div>
            {% else %}
                <div class="swiper-slide">
                    <div class="videoWrapper">
                        <!-- https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php -->
                        <iframe width="600" height="320" src="{{photo.url}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
