html, body {
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
  background-color: #f3f5f6;
  font-family: 'Averia Serif Libre', cursive;
}

#top_header {
  background-color: rgba(21,21,23,1);
}

#details-container {
  width: 100%;
  background-color: #f3f5f6;
  margin: 50px auto 0px;
  min-height: 100vh;
}

#details-container h1, p {
  color: #464646;
}

#details-container p, a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
}

#details-container a {
  font-weight: 800;
}

#details-container a:hover {
  cursor: pointer;
  color: #b6de84;
}


#feature {
  padding: 20px 0px;
  background-color: #3a3a3a;
  width: 100%;
  text-align: center;
  height: 100%;
  position: relative;
  min-height: 60vh;
}

#feature img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 95%;
  max-height: 92%;
  transform: translate(-50%,-50%);
}

#info {
  display: flex;
  margin: 0 auto;
  min-height: 300px;
  max-width: 1000px;
  padding: 0px 10px 30px;
}

#flex-left {
  width: 60%;
}

#flex-left p {
  padding-right: 50px
}

#flex-right {
  width: 40%;
}

#flex-right iframe {
  width: 100%;
  margin-top: 20px;
  height: 90%;
}

#date-nav {
  display: flex;
  background-color: #3a3a3a;
  width: 100%;
  min-height: 40vh;
}

#date-nav .nav-flexes {
  width: 33.33%;
  padding: 15px 0px;
  position: relative;
  text-align: center;
  padding-bottom: 40%;
}

#date-nav .nav-flexes .flex-date {
  color: white;
  position: absolute;
  bottom: 2%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, 0%);
}

#date-nav .nav-flexes .flex-time {
  bottom: -10%;
}
#date-nav .nav-flexes .flex-title {
  color: white;
}

#date-nav .nav-flexes .flex-title a {
  color: #fff;
}

#date-nav .nav-flexes .flex-title a:hover {
  color: #b6de84;
  cursor: pointer;
}

#nav-current {
  font-size: 1.3em;
}

#date-nav .nav-flexes img {
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 60%;
  position: absolute;
  transform: translate(-50%,-50%);
}

footer {
  height: 75px;
  margin-top: 50px;
  background-color: rgba(21,21,23,1);
}



/*TABLET*/
@media (max-width: 750px) {
    #info {
      flex-direction: column;
    }
    #details-container h1 {
      text-align: center;
    }
    #flex-left, #flex-right {
      width: 90%;
      margin: 0 auto;
    }
    #flex-right {
      min-height: 30vh;
    }
    #flex-left {
      margin-bottom: 30px;
    }
    #flex-left p {
      padding-right: 0px
    }
    #flex-right iframe {
      min-height: 30vh;
    }
    #date-nav {
      padding: 20px 5px;
      text-align: center;
      flex-direction: column;
    }
    #date-nav .nav-flexes {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      text-align: left;
    }
    #date-nav .nav-flexes .flex-title {
      display: none;
    }
    #date-nav .nav-flexes img {
      top: 50%;
      left: auto;
      right: 8%;
      max-height: 80%;
      position: absolute;
      transform: translate(-0%,-50%);
    }
    #date-nav .nav-flexes .flex-date {
      top: 50%;
      left: 0px;
      bottom: auto;
      color: white;
      transform: translate(0,-50%);
    }
}


/*MOBILE*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #info {
      flex-direction: column;
    }
    #details-container h1 {
      text-align: center;
    }
    #flex-left, #flex-right {
      width: 90%;
      margin: 0 auto;
    }
    #flex-right {
      min-height: 30vh;
    }
    #flex-left {
      margin-bottom: 30px;
    }
    #flex-right iframe {
      min-height: 30vh;
    }
    #flex-left p {
      padding-right: 0px
    }

}
