#top_header {
  z-index: 2;
  position: fixed;
  width: 95%;
  height: 50px;
  margin:0px;
  margin-left: -8px;
  padding:0px;
  top:0;
  background-color: rgba(132, 132, 132, .5);
  color: white;
  left: 2.5%;
  border-radius: 25px;
}

#header_inner {
  height: 100%;
  position: relative;
}

#header_left {
  display: inline-block;
  width: 50%;
  padding-left: 5%;
  float: left;
}

#lot_logo {
  height:100%;
}

#header_right {
  display: inline-block;
  text-align: right;
  padding-right: 5%;
  width: 40%;
  height:100%;
  float: right;
  margin-top: 15px;
}

#index {
  top: 75px;
  position: fixed;
  border-radius: 25px;
  z-index: 1;
  width: 31%;
  margin: auto 0;
  color: white;
  margin-left: 0px;
  background-color: rgba(0,0,0,0);
  left: 2%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  overflow: auto;
  height: calc(100% - 100px);
}

::-webkit-scrollbar {
    display: none;
}

.photo_container {
  position: relative;
  z-index: 1;
}

.photo {
  border-radius: 25px;
  background-color: rgba(132, 132, 132, .5);
  width: 100%;
  margin-top: 50px;
  margin-bottom: -30px;
  padding-bottom: 25px;
}

#index_nav {
  top: 75px;
  position:fixed;
  border-radius: 25px;
  display: block;
  width: 31%;
  height: 40px;
  /*background-color: rgba(64,4,132,1);*/
  background-color: rgba(181,202,133,1);
  opacity: 1;
  text-align: center;
  padding-top: 0px;
  color: white;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}

#header_right {
  color: white;
  font-family: 'Oxygen', sans-serif;
}

#index_nav_year {
  height:100%;
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.photo_title {
  font-size: 20px;
  text-align: center;
}

.photo_date {
  font-size: 11px;
  text-align: center;
}

#googlemaps {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.photo_photo {
  width: 300px;
}

.purchase_link {
  text-align: center;
  font-size: 10px;
}

.photo_holder {
  padding-top: 15px;
  text-align: center;
}

a:visited {
  color: white;
}

.nav_link {
  color: white;
}

a:hover {
  color: rgba(181,202,133,1);
}

#photo-buffer {
  padding-top: 50px;
  height: 200px;
  text-align: middle;
}


