<!DOCTYPE html>
<html>
	{% include "personal/about_header.html" %}


	{% block content %}
	{% load staticfiles %}

<!--
	<div id='body_container'>
		<div id='body_left'>
			<img class='cody_image' src='https://s3.amazonaws.com/codyscapes-assets/static_assets/rsz_seans.jpg'>
		</div>
		<div id='body_right'>
			<h1>They call me Cody</h1>
			<p></p>
		</div>

	</div>
-->

	<div id='body_container'>
			<h1>Coming Soon!</h1>

		</div>

	</div>

	{% include "personal/includes/analytics.html" %}
	{% endblock %}
</html>
