<head>
	<title>Codyscapes</title>
	{% load staticfiles %}
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'personal/css/main.css' %}" type = "text/css"/>
	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,700' rel='stylesheet' type='text/css'>
	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<meta charset="utf-8">

	<!-- Favicon -->
	<link rel="icon"
	      type="image/png"
	      href="https://s3.amazonaws.com/codyscapes-assets/static_assets/favicon.png">
</head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9838950457742420",
    enable_page_level_ads: true
  });
</script>
