<DOCTYPE html>
<html lang="en">

<head>
	<title>Codyscapes</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/main.css' %}" type = "text/css"/>
	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,700' rel='stylesheet' type='text/css'>
	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<meta charset="utf-8">
</head>
<body class='body' style='background-color:#f6f6f6'>
	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>