{% extends "personal/header.html" %}

{% block content %}

<body>
	<header class="page-header">
  		<div class="page-header-left"></div>
  		<div class="page-header-right"></div>
  	</header>

	<div class='options-container-desktop'>
		<div class='option option-one'>
			<a href="/gallery">
				<div class='option-text vert_cta'>
					<div class='option-wrapper'>
					    <div>&nbsp</div>
					    <div>G</div>
					    <div>A</div>
					    <div>L</div>
					    <div>L</div>
					    <div>E</div>
					    <div>R</div>
					    <div>Y</div>
					    <div>&nbsp</div>
					</div>
				</div>
				<div class="option-shadow"></div>
			</a>
		</div>
		<div class='option option-two'>
			<a href="/map">
				<div class='option-text vert_cta'>
					<div class='option-wrapper'>
					    <div>&nbsp</div>
					    <div>L</div>
					    <div>I</div>
					    <div>V</div>
					    <div>E</div>
					    <div>&nbsp</div>
					    <div>M</div>
					    <div>A</div>
					    <div>P</div>
					    <div>&nbsp</div>
					</div>
				</div>
				<!--<a href="#" onClick="return false;" class='option-btn map-link'>VIEW</a>-->
				<div class="option-shadow"></div>
			</a>
		</div>
		<div class="option option-three">
			<a href="/personal/about">
				<div class='option-text vert_cta'>
					<div class='option-wrapper'>
					    <div>&nbsp</div>
					    <div>A</div>
					    <div>B</div>
					    <div>O</div>
					    <div>U</div>
					    <div>T</div>
					    <div>&nbsp</div>
					    <div>M</div>
					    <div>E</div>
					    <div>&nbsp</div>
					</div>
				</div>
				<!--<a href="#" onClick="return false;" class='option-btn about-link'>VIEW</a>-->
				<div class="option-shadow"></div>
			</a>
		</div>
	</div>

	<div class='options-container-mobile'>
		<div class='option-mobile option-one-mobile'>
			<a href="/gallery" data-transition="slide">
				<div class='option-text'>
					<div class='option-wrapper'>
					    <div>&nbsp</div>
					    <div>G</div>
					    <div>A</div>
					    <div>L</div>
					    <div>L</div>
					    <div>E</div>
					    <div>R</div>
					    <div>Y</div>
					    <div>&nbsp</div>
					</div>
				</div>
				<div class="option-shadow"></div>
			</a>
		</div>
		<div class="option-mobile option-two-mobile">
			<a href="/map">
				<div class='option-text'>
					<div class='option-wrapper'>
					    <div>&nbsp</div>
					    <div>L</div>
					    <div>I</div>
					    <div>V</div>
					    <div>E</div>
					    <div>&nbsp</div>
					    <div>M</div>
					    <div>A</div>
					    <div>P</div>
					    <div>&nbsp</div>
					</div>
				</div>
				<!--<a href="#" onClick="return false;" class='option-btn map-link'>VIEW</a>-->
				<div class="option-shadow"></div>
			</a>
		</div>
		<div class="option-mobile option-three-mobile">
			<a href="/personal/about">
				<div class='option-text'>
					<div class='option-wrapper'>
					    <div>&nbsp</div>
					    <div>A</div>
					    <div>B</div>
					    <div>O</div>
					    <div>U</div>
					    <div>T</div>
					    <div>&nbsp</div>
					    <div>M</div>
					    <div>E</div>
					    <div>&nbsp</div>
					</div>
				</div>
				<!--<a href="#" onClick="return false;" class='option-btn about-link'>VIEW</a>-->
				<div class="option-shadow"></div>
			</a>
		</div>
	</div>
</body>

{% include "personal/includes/analytics.html" %}

{% endblock %}

