<head>
	<title>Codyscapes</title>
	{% load staticfiles %}

	<!-- CSS -->
  <link rel="stylesheet" href="{% static 'photos/css/main.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'photos/css/details.css' %}" type = "text/css"/>
  <link rel="stylesheet" href="{% static 'photos/css/normalize.css' %}" type = "text/css"/>

	<!-- FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<meta charset="utf-8">

	<link rel="icon"
	      type="image/png"
	      href="https://s3.amazonaws.com/codyscapes-assets/static_assets/favicon.png">
</head>

{% include "photos/header.html" %}
