<!DOCTYPE html>
<html lang="en">
  {% include "photos/details-head.html" %}
  <meta name=viewport content="width=device-width, initial-scale=1">

  {% block content %}
  {% load staticfiles %}

    <body>
      <div id="details-container">

        <div id="feature">
          {% if photo.isphoto %}
            <img src="{{photo.url}}">
          {% else %}
            <div class="videoWrapper">
              <iframe width="300" height="169" src="{{photo.url}}" frameborder="0" allowfullscreen></iframe>
            </div>
          {% endif %}
        </div>

        <div id="info">
          <div id="flex-left">
            <h1>{{photo.title}}</h1>
            <p>{{photo.caption}}</p>
            <a class='photo_link' href='{{photo.purchase_link}}' target="_blank">Buy this photo</a>
          </div>
          <div id="flex-right">
            <iframe frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?key={{key}}&q={{photo.latitude}},{{photo.longitude}}"
                    allowfullscreen>
            </iframe>
            <!-- <div id="googlemaps"></div> -->

          </div>
        </div>
      </div>

      <div id="date-nav">
        <div id="nav-flex">
          <div class="nav-flexes" id="nav-previous">
            <div class="flex-title"><a href="/photos/{{prev_photo.slug}}">Previous Photo</a></div>
            <div class="flex-date">{{prev_photo.date}}</div>
            {% if prev_photo.isphoto %}
              <img src="{{prev_photo.url}}">
            {% else %}
              <div class="videoWrapper">
                <iframe width="300" height="169" src="{{prev_photo.url}}" frameborder="0" allowfullscreen></iframe>
              </div>
            {% endif %}
          </div>
          <div class="nav-flexes" id="nav-current">
            <div class="flex-title">This Photo</div>
            <div class="flex-date">{{photo.date}}</div>
            {% if photo.isphoto %}
              <img src="{{photo.url}}">
            {% else %}
              <div class="videoWrapper">
                <iframe width="300" height="169" src="{{photo.url}}" frameborder="0" allowfullscreen></iframe>
              </div>
            {% endif %}
          </div>
          <div class="nav-flexes" id="nav-next">
            <div class="flex-title"><a href="/photos/{{next_photo.slug}}">Next Photo</a></div>
            <div class="flex-date">{{next_photo.date|date:"m-d-Y"}}</div>
            <div class="flex-date flex-time">{{next_photo.date|time:"H:i A"}}</div>
            {% if next_photo.isphoto %}
              <img src="{{next_photo.url}}">
            {% else %}
              <div class="videoWrapper">
                <iframe width="300" height="169" src="{{next_photo.url}}" frameborder="0" allowfullscreen></iframe>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

    </body>



    <footer>
    </footer>
  {% endblock %}

  {% include "personal/includes/analytics.html" %}
</html>
