<DOCTYPE html>
<html lang="en">

<head>
	<title>Codyscapes</title>
	{% load staticfiles %}
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
	<link rel="stylesheet" href="{% static 'photos/css/main.css' %}" type = "text/css"/>
	<!-- FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="{% static 'photos/js/main.js' %}"></script>
	<!--<script src="{% static 'photos/js/jquery.slides.min.js' %}"></script>-->

	<meta charset="utf-8">
</head>

<body>
	<div id='top_header'>
		<div id = 'header_inner'>
			<div id ='header_left'>
				<a href='/'><img id='lot_logo' src="{% static "photos/img/lot_logo.png" %}" alt="Codyscapes Logo"/></a>
			</div>
			<div id ='header_right'>
				<a class='nav_link' href='/'>Home</a> | <a class='nav_link' href='http://www.lightontime.co/Gallery'>Gallery</a> | <a class='nav_link' href='/blog/'>About</a>
			</div>
		</div>
	</div>

	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>
