{% extends "photos/header.html" %}

{% block content %}

<div id="googlemaps"></div>
<div id="index">
	<div id="index_nav">
		2016
	</div>
	{% for photo in photos %}
		<div class='photo_title'>
			{{photo.title}}
		</div>
		<div class='photo_date'>
			{{photo.date|date:"Y-m-d"}}
		</div>
	{% endfor %}
</div>


<footer>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

	<script type="text/javascript">

	// The latitude and longitude of your business / place
	{% for photo in photos %}
		var position = [{{photo.latitude}}, {{photo.longitude}}];
	{% endfor %}


	function showGoogleMaps() {

	    var latLng = new google.maps.LatLng(position[0], position[1]);
	    var latLng2 = new google.maps.LatLng(45.330441, -117.205382);

	    var mapOptions = {
	        zoom: 11, // initialize zoom level - the max value is 21
	        streetViewControl: false, // hide the yellow Street View pegman
	        scaleControl: true, // allow users to zoom the Google Map
	        mapTypeId: google.maps.MapTypeId.ROADMAP,
	        center: latLng
	    };

	    map = new google.maps.Map(document.getElementById('googlemaps'),
	        mapOptions);

	    // Show the default red marker at the location
	    marker = new google.maps.Marker({
	        position: latLng,
	        map: map,
	        draggable: false,
	        animation: google.maps.Animation.DROP
	    });

	    marker1 = new google.maps.Marker({
	        position: latLng2,
	        map: map,
	        draggable: false,
	        animation: google.maps.Animation.DROP
	    });
	}

	google.maps.event.addDomListener(window, 'load', showGoogleMaps);
	</script>
</footer>


{% endblock %}

